{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %}Password
change {% endblock title %} {% block content %}
<h1 style="padding-bottom: 20px; text-align:center;">Password Change</h1>
<p style="padding-bottom: 20px; text-align:center;">
  Please enter your old password, for security's sake, and then enter your new
  password twice so we can verify you typed it in correctly.
</p>
<div
  style="width: 600px; margin:auto;"
  class="shadow p-3 mb-5 bg-white rounded"
>
  <form
    style="width: 500px; margin:auto; padding:25px 0 25px 0"
    action=""
    method="post"
  >
    {% csrf_token %} {{ form|crispy }}
    <button class="btn btn-success" type="submit">Change My Password</button>
  </form>
</div>
{% endblock content %}
